
section.page-header.page-header-xs.breadcrump_menu {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: none;
}
section.page-header.page-header-xs{    background: transparent;}
section.page-header.page-header-xs a { color: #1F262D;    text-transform: uppercase;}
section.page-header.page-header-xs a font {font-size: 14px;}