/********  CUSTOM CSS   *********/

.user-rating-box{margin-top:10px;}
.user-rating-box .border-right{border-right:1px solid #E5E5E5;}
.purple{color:#8A2A84;}
.puple-background{background-color:#8A2A84; }
.green{color: #A4BA39;}
.size-40{font-size: 40px;}
.size-21{font-size: 21px;}
.bold{font-weight: bold;}
.user-rating-box .progress{height: 40px;}
.user-rating-box img{width: 20px;}
.mandatory{color: #ff0000;}

/******* Rating CSS  ******/

/*star ratings*/
/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2013 - 2015
 * @version 3.5.6
 *
 * A simple yet powerful JQuery star rating plugin that allows rendering
 * fractional star ratings and supports Right to Left (RTL) input.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0px;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

/*
 * Stars
 */
 .review_pic{
    width: 60%!important;
    margin-left: 40px!important;
    margin-top: 15px!important;
 }
.rating-fa {
    font-family: 'FontAwesome';
    padding-left: 1px;
}

.rating-fa .rating-stars:before {
    padding-left: 1px;
}

.rating-gly {
    font-family: 'Glyphicons Halflings';
}

.rating-gly-star {
    font-family: 'Glyphicons Halflings';
    padding-left: 2px;
}

.rating-gly-star .rating-stars:before {
    padding-left: 2px;
}

.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
    padding-left: 4px;
}

.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
    padding-left: 2px;
}

.rating-active {
    cursor: default;
}

.rating-disabled {
    cursor: not-allowed;
}

.rating-uni {
    font-size: 1.2em;
    margin-top: -5px;
}

.rating-container {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #e3e3e3;
    overflow: hidden;
}

.rating-container:before {
    content: attr(data-content);
}

.rating-container .rating-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
    transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

.rating-container .rating-stars:before {
    content: attr(data-content);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.rating-container-rtl {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    color: #fde16d;
}

.rating-container-rtl:before {
    content: attr(data-content);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.rating-container-rtl .rating-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #e3e3e3;
    transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

.rating-container-rtl .rating-stars:before {
    content: attr(data-content);
}

/**
 * Rating sizes
 */
.rating-xl {
    font-size: 4.89em;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 1.4em;
}

.rating-xs {
    font-size: 2em;
}

/**
 * Clear rating button
 */
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.star-rating .clear-rating {
    padding-right: 5px;
}

/**
 * Caption
 */
.star-rating .caption, .star-rating-rtl .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 55%;
}

.star-rating .caption {
    padding-left: 5px;
}

.star-rating-rtl .caption {
    padding-right: 5px;
}

.tab-content{padding: 0px;}
.rating-star-row > .row{margin:0px;}
.rating-star-row .form-group label{font-size:12px; margin-top: 6px;}
.rating-star-row .form-group > label, .rating-star-row .form-group > div{padding:0px !important;}
.rating-star-row fieldset{margin-bottom: 6px !important;}

.comment-user{color: #1ABC9C;}
.star-rating .clear-rating{font-size: 14px;}
.star-rating .caption{font-size: 12px;}
/*
.rating-star-row  .rating-container{font-size: 20px;}
.rating-container .rating-stars{font-size: 20px; margin-left: 2px;}

.rating-sm{font-size: 1.2em !important;}


 */

/********* Rating CSS End *******/

#portfolio .col-md-5th{min-height: 265px !important;}
#portfolio1 .col-md-5th{min-height: 185px !important;}

#fbLoginButton{ background-color: #3b5999; border: 1px solid #3b5999; border-radius: 5px; color: #fff; width: 100%;}
#googleLoginButton{ background-color: #EA4335; border: 1px solid #EA4335; border-radius: 5px; color: #fff; width: 100%;}
.comment-box::before{border-color: transparent #E5E5E5 transparent transparent;
    border-width: 0 27px 27px 0;
    bottom: -28px;
    left: 39px;
    z-index: 0;}
.comment-box::after, .comment-box::before{border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;}
.comment-box::after{border-color: transparent #ffffff transparent transparent;
    border-width: 0 25px 25px 0;
    bottom: -25px;
    left: 40px;
    z-index: 1;}
.comment-box{border: 2px solid #E5E5E5; padding: 12px; min-height: 150px; border-radius: 4px;}

.commentor > .commentator-name{margin-top: 10px; font-weight: bold; color: #1ABC9C; font-size: 14px; padding-left: 8px; margin-bottom: 0px;}
.commentor > img{margin-left: 3px;}
.commentor > .date{font-style: italic; margin-left: 5px;}
.user-pic-text{height: 255px; }
#user-login-form .error{font-weight: normal !important; color: #ff0000;}
#user-registration-form .error{ color: #ff0000;}

#danger-alert1{display:none; margin:0 auto;}
#success-alert1{display:none; margin:0 auto;}



/***********  Pagination CSS    **********/
/* For Posts List */
.posts_list{ 
margin-bottom:20px;
}
div.list_item {
border-left: 4px solid #7ad03a;
padding: 1px 12px;
background-color:#F1F1F1;
-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
div.list_item {
margin: 5px 15px 2px;
}
div.list_item p {
margin: .5em 0;
padding: 2px;
font-size: 13px;
line-height: 1.5;
}
.list_item a {
text-decoration: none;
padding-bottom: 2px;
color: #0074a2;
-webkit-transition-property: border,background,color;
transition-property: border,background,color;-webkit-transition-duration: .05s;
transition-duration: .05s;
-webkit-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
}
.list_item a:hover{ 
text-decoration:underline;
}
/* For Loading Overlay */
.post-wrapper{position: relative;}
.loading-overlay{display: none;position: absolute;left: 0; top: 0; right: 0; bottom: 0;z-index: 2;background: rgba(255,255,255,0.7);}
.overlay-content {
    position: absolute;
    transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
}
/* For Pagination Links */
div.pagination {
	font-family: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
	padding:20px;
	margin:7px;
}

div.pagination a {
	margin: 2px;
	padding: 0.5em 0.64em 0.43em 0.64em;
	background-color: #1ABC9C;
	text-decoration: none; /* no underline */
	color: #fff;
}
div.pagination a:hover, div.pagination a:active {
	padding: 0.5em 0.64em 0.43em 0.64em;
	margin: 2px;
	background-color: #1AAC9C;
	color: #fff;
}
div.pagination span.current {
    padding: 0.5em 0.64em 0.43em 0.64em;
    margin: 2px;
    background-color: #f6efcc;
    color: #1AAC9C;
}
div.pagination span.disabled {
    display:none;
}

/***********  End Pagination CSS    **********/

/***** Media Quries   *****/

 @media screen and (max-width: 990px) {
    .border-right {
        border: none !important;
    }
    .rating-star-row{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    section div.row > div {margin-bottom: 0px;}
}

@media screen and (max-width: 767px) {
    .user-pic-text{height: 300px !important; }
    .user-img > img{width: 60px !important; height: 60px !important; margin-left: 0px !important;}
    .commentor > .commentator-name {font-size: 12px !important;}
    .commentor > img {width: 16px !important;}
    .date{font-size:12px !important; margin-left: 0px !important;}
    #fbLoginButton{margin-bottom: 10px;}
    #googleLoginButton{margin-bottom: 10px;}
    #loginModal .size-21{font-size: 12px;}
    section div.row > div {margin-bottom: 0px;}
}

@media screen and (max-width: 360px) {
    .user-img > img{width: 50px !important; height: 50px !important; margin-left: 10px !important;}
    .user-pic-text{height: 320px !important; }
    .commentor{height: 72px !important;}
    .commentor > .commentator-name {font-size: 12px !important;}
    .commentor > img {width: 16px !important;}
    .date{font-size:12px !important; margin-left: 0px !important;}
    .pagination{font-size: 12px !important;}
    .pagination a{padding: 0.1em 0.3em 0.2em !important;}
    .user-pic-text > div > div{padding: 0px;}
    section div.row > div {margin-bottom: 0px;}
}
