/**
 * Additional styles for the controls.
 */
.jcarousel-control {
	position:absolute;
	right:0px;
	margin:139px 180px 0px 0px;
}
.jcarousel-control a {
	font-size: 14px;
	font-family:"Seabird Light SF", Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding:2px;
	margin: 0 5px 0 0;
	color: #fff;
	background-color: #aaaaaa;
	font-weight: normal;
	padding:4px;
	display:inline-block
}
.jcarousel-control a:focus, .jcarousel-control a:active, .jcarousel-control a:hover {
	font-size: 14px;
	text-decoration: none;
	padding:2px;
	margin: 0 5px 0 0;
	color: #fff;
	background-color: #8b2b84;
	font-weight: normal;
	padding:4px;
	display:inline-block
}
.jcarousel-scroll {
	margin-top: 10px;
	text-align: center;
}
.jcarousel-scroll form {
	margin: 0;
	padding: 0;
}
.jcarousel-scroll select {
	font-size: 75%;
}
#mycarousel-next, #mycarousel-prev {
	cursor: pointer;
	margin-bottom: -10px;
	text-decoration: underline;
	font-size: 11px;
}
.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	width: 75px;
	height: 245px;
	padding: 40px 20px;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 900px;
	height: 136px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
	width:  75px;
	height: 245px;
}
.jcarousel-skin-tango .jcarousel-item {
	width:890px;
	height: 125px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 43px;
	right: 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 43px;
	left: 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
 .jcarousel-skin-tango{width:900px; float:left; margin-top:23px;}
 .our-client-tag{width:auto; float:left; margin:0 10px 0 0px;}
