/** MUSIC 
	home-theme-education.html 
 ********************************************* **/
@import url(http://fonts.googleapis.com/css?family=Roboto);
.font-roboto {
	font-family: "Roboto" !important;
}


/* header, menu & topbar background color */
#header,
#topMain.nav-pills>li,
#topNav div.submenu-dark ul.dropdown-menu {
	background-color:#253B80;
}
#topBar {
	background-color:#179BD7 !important;
}
#topNav ul.dropdown-menu {
	border-top-color:#179BD7 !important;
}

#topNav button.btn-mobile {
	color:#fff;
}

/* menu & topbar links color */
#topBar ul.top-links li.text-welcome,
#topBar ul.top-links>li>a,
#header li.search i.fa,
#header ul.nav-second-main li>a,
#topMain.nav-pills>li>a {
	color:#eee !important;
}
#topBar ul.top-links>li.active>a,
#topMain.nav-pills>li.active>a {
	color:#fff !important;
}

/* footer */
#footer {
	background: #24293a;
	background: -moz-linear-gradient(top, #1a1d2b 0%, #2e3648 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1d2b), color-stop(100%, #2e3648));
	background: -webkit-linear-gradient(top, #1a1d2b 0%, #2e3648 100%);
	background: -o-linear-gradient(top, #1a1d2b 0%, #2e3648 100%);
	background: -ms-linear-gradient(top, #1a1d2b 0%, #2e3648 100%);
	background: linear-gradient(to bottom, #1a1d2b 0%,#2e3648 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1d2b', endColorstr='#2e3648',GradientType=0 );
}
